<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FreeSpire.PDF" version="8.6.0" targetFramework="net461" />
  <package id="log4net" version="2.0.15" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net452" />
  <package id="SkiaSharp" version="1.68.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.0" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="net461" />
  <package id="WebsocketSharp.Standard2" version="2022.4.16.1520" targetFramework="net461" />
</packages>